@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
  height: 7vh; }

.header_link {
  color: black;
  text-decoration: none; }
  .header_link .header_link-title {
    font-weight: bolder; }
  .header_link :hover {
    color: rgba(255, 166, 0, 0.616); }

.header__icon img {
  height: 40px; }

/* 
 */
.bg-color {
  /* background-color: rgb(191, 215, 234); */
  background-color: #b6ffff; }

.main {
  height: 86vh; }

.main-bgImage {
  /* background-image: url(https://www.pngmart.com/files/22/White-Background-PNG-Photos.png); */
  background-image: url("../imgs/background-main.png"); }

.blur {
  backdrop-filter: blur(8px); }

.section-card {
  border-radius: 12px;
  background-color: black;
  box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.85);
  padding: 15px;
  margin: 10px; }
  .section-card h5 {
    color: black;
    background-color: #b6ffff;
    border-radius: 5px;
    padding: 5px; }
  .section-card p {
    color: whitesmoke; }

.cardsContainer-center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.cards__container {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.card__container-card {
  background-color: #ffa600;
  box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.85);
  border-radius: 12px;
  margin: 1rem; }
  .card__container-card a {
    text-decoration: none;
    color: black;
    display: inline; }
    .card__container-card a :hover {
      color: black; }

.card-body {
  padding: 1rem !important; }

.card-img-top {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  height: 50%;
  background-color: lightgrey; }

.card-text {
  text-align: center;
  text-decoration: underline; }

.contenedor {
  margin-top: 50px;
  width: 100%;
  text-align: center; }

.box {
  width: 200px;
  height: 300px;
  display: inline-block; }

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform; }

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

/* $color1:#b6ffff;
$color2: rgb(255, 64, 109);

#hwrequest{
    background-color: red;
}

#cards-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-box{
    margin: 20px 20px;
}

.category-buttons{
    margin: 15px;
}

.card-img-top{
    width: 230px;
}

.card{
    margin: 20px;
    width: 250px;
}

.grid-items-cart{
    display: grid; 
    grid-template-columns: 4fr 1fr; 
    grid-template-rows: 0.3fr auto; 
    gap: 0px 0px; 
    grid-template-areas: 
    "btns btns"
    "items cart";

    .btns { 
        grid-area: btns;
    }

    .items {
        grid-area: items; 
    }

    .cart { 
        grid-area: cart;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        color:$color1
    }

    .btn{
        background-color: black !important;
        color: $color2;
    }
}



 */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 7vh;
  box-shadow: -3px 1px 15px 5px rgba(0, 0, 0, 0.03); }
  .footer .footer__text {
    margin-right: 20px;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Dancing Script', cursive; }
  .footer .footer__list {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px; }
  .footer .footer__list-item {
    margin: 0.5rem; }
  .footer .footer__list-icon svg {
    height: 30px; }

.main__button {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 0.5rem; }

.btn-container {
  display: flex;
  /* background-color: red; */
  justify-content: center; }

#generateTicket {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.table {
  margin-top: 1rem; }

.ticket_icon-container {
  background-color: red;
  display: flex;
  justify-content: flex-end; }
  .ticket_icon-container a {
    text-decoration: none;
    color: inherit;
    cursor: pointer; }
  .ticket_icon-container svg {
    height: 3.5rem;
    position: fixed;
    bottom: 5vh;
    right: 2rem; }

.shop_nav {
  margin-top: 1rem; }

/*   .button{
        background-color: black;
        color: white;
        margin: 0.2rem;
        font-weight: bold;
        letter-spacing: 0.05rem;

        

        &:focus{
            background-color: red;
        }
        

    } */
#button_show-myItems {
  background-color: black;
  font-weight: bold; }
  #button_show-myItems:active {
    border-color: inherit; }
  #button_show-myItems:hover {
    background-color: #ffa600;
    color: black;
    font-weight: bold; }

#offcanvasLabel {
  text-decoration: underline;
  font-weight: bold; }

#shop_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  gap: 0.5rem;
  margin-top: 1rem; }

.shop_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  background-color: #faf9f6;
  margin-bottom: 1rem; }
  .shop_item .shop_item-img {
    width: 11rem;
    /* background-color: black; */
    display: inherit;
    align-self: center;
    padding: 0.3rem; }
  .shop_item .shop_item-title {
    /* text-decoration: underline; */
    font-weight: 600; }
  .shop_item .shop_item-body {
    /* background-color: #da7b08; */
    display: inherit;
    flex-direction: column;
    padding: 1rem; }
  .shop_item .shop_item-price {
    align-self: flex-start;
    margin-bottom: 0px;
    margin-top: 0.5rem;
    font-weight: 600; }
  .shop_item .shop_item-brand {
    font-size: medium; }
  .shop_item .shop_item-model {
    font-size: smaller; }
  .shop_item .shop_item-btn {
    background-color: black;
    color: white;
    margin-top: 1rem; }
  .shop_item .shop_hardwareItem-btn {
    background-color: green; }

.cart {
  padding: 0.2rem; }
  .cart .cart_total-text {
    font-weight: bold; }
  .cart .cart_removeItem {
    cursor: pointer; }
  .cart #cart_empty-icon {
    width: 50%;
    margin-left: 25%;
    height: auto; }
  .cart #cart_empty-text {
    margin-top: 1rem;
    text-align: center; }

.cart_icon-container {
  background-color: red;
  display: flex;
  justify-content: flex-end; }
  .cart_icon-container a {
    text-decoration: none;
    color: inherit;
    cursor: pointer; }
  .cart_icon-container svg {
    height: 4.3rem;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    /* display: inline-block; */ }
    .cart_icon-container svg text {
      font-size: 0.5rem; }

.offcanvas {
  background-color: #faf9f6; }

#assignedItemsTable {
  background-color: whitesmoke; }

.empty_cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .empty_cart svg {
    width: 30%;
    height: auto; }
  .empty_cart h5 {
    margin-top: 2rem; }

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit; }

body {
  min-height: 100vh; }

/* .center-items{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* #cards_container{
    margin-top: 100px;
} */
.hide {
  display: none; }

/* .color2{
    color: $color2 !important;
} */
.bg-image-1 {
  /* background-image: url(https://www.pngmart.com/files/22/White-Background-PNG-Photos.png); */
  background-repeat: repeat;
  background-image: url("../imgs/background-main.png"); }

#form-container {
  border-radius: 12px;
  background-color: #da7b08;
  /* box-shadow: 2px 3px 11px 0px rgba(0,0,0,0.85); */
  padding: 15px;
  height: fit-content;
  margin-top: 3rem; }
  #form-container input {
    padding: 0.2rem;
    border-radius: 0.2rem; }
  #form-container #login-form {
    display: flex;
    flex-direction: column; }
  #form-container #login-submit {
    margin: 10px 0px;
    align-self: center;
    justify-self: center;
    background-color: whitesmoke;
    color: black;
    border-color: #8ba6bc;
    border-width: 2px; }
  #form-container h5 {
    color: black;
    margin: 10px 0px; }
  #form-container #alert-box h5 {
    color: black;
    text-decoration: underline #d83232; }
