.shop_nav{
    margin-top: 1rem;
}





  /*   .button{
        background-color: black;
        color: white;
        margin: 0.2rem;
        font-weight: bold;
        letter-spacing: 0.05rem;

        

        &:focus{
            background-color: red;
        }
        

    } */

#button_show-myItems{
    background-color: black;
    font-weight: bold; 

    &:active{
        border-color: inherit;
    }

    &:hover{
        background-color: $color2;           
        color: black;
        font-weight: bold; 
    }
}



#offcanvasLabel{
    text-decoration: underline;
    font-weight: bold;
}


#shop_items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    gap: 0.5rem;
    margin-top: 1rem;
}

.shop_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    background-color:rgb(250, 249, 246);
    margin-bottom: 1rem;
    .shop_item-img{
        width: 11rem;
        /* background-color: black; */
        display: inherit;
        align-self: center;
        padding: 0.3rem;
    }
    .shop_item-title{
        /* text-decoration: underline; */
        font-weight:600;
    }
    .shop_item-body{
        /* background-color: #da7b08; */
        display: inherit;
        flex-direction: column;
        padding: 1rem;
    }
    
    .shop_item-price{
        align-self: flex-start;
        margin-bottom: 0px;
        margin-top: 0.5rem;
        font-weight: 600;
    }
    .shop_item-brand{
        font-size: medium;
    }
    .shop_item-model{
        font-size: smaller;
    }
    .shop_item-btn{
        background-color: black;
        color: white;
        margin-top: 1rem;
    }
    .shop_hardwareItem-btn{
        background-color: green;
    }
}

.cart{
    padding: 0.2rem;

    .cart_total-text{
        font-weight: bold;
    }
    .cart_removeItem{
        cursor: pointer;
    }
    #cart_empty-icon{
        width: 50%;
        margin-left: 25%;
        height: auto;
    }
    #cart_empty-text{
        margin-top: 1rem;
        text-align: center;
    }
}



.cart_icon-container{
    background-color: red;
    display: flex;
    justify-content: flex-end;
    
    a{
        text-decoration: none;
        color:inherit;
        cursor: pointer;
    }
    
    svg{
        height: 4.3rem;
        position:fixed;
        bottom: 1rem;
        right: 2rem;
        /* display: inline-block; */
        text{
            font-size:0.5rem;
        }
    }
    
}

.offcanvas{
    background-color: rgb(250, 249, 246);
}

#assignedItemsTable{
    background-color: whitesmoke;
}


.empty_cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    svg{
        width: 30%;
        height: auto;
    }

    h5{
        margin-top: 2rem;
    }
}




