
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7vh;
}

.footer__text{
    margin-right: 20px;
}

.footer__list{
    display: flex;
    list-style: none; 
    padding: 0px;
    margin: 0px;
}

.footer__list-item{
    margin: 0.5rem;
}

.footer__list-icon svg{
    height: 30px;
}







