$header-color: #b6ffff;;

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
    height: 7vh;
}

.header_link{
    text-decoration: none;
    color: inherit;

    .header_link-title{
        font-weight: bolder;
    }

    :hover{
        color: rgba(255, 166, 0, 0.616);
    }
}

.header__icon img{
    height: 40px;
}


