$color1:#b6ffff;
$color2: rgb(255, 64, 109);

#hwrequest{
    background-color: red;
}

#cards-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-box{
    margin: 20px 20px;
}

.category-buttons{
    margin: 15px;
}

.card-img-top{
    width: 230px;
}

.card{
    margin: 20px;
    width: 250px;
}

.grid-items-cart{
    display: grid; 
    grid-template-columns: 4fr 1fr; 
    grid-template-rows: 0.3fr auto; 
    gap: 0px 0px; 
    grid-template-areas: 
    "btns btns"
    "items cart";

    .btns { 
        grid-area: btns;
    }

    .items {
        grid-area: items; 
    }

    .cart { 
        grid-area: cart;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        color:$color1
    }

    .btn{
        background-color: black !important;
        color: $color2;
    }
}



