.main__button{
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-top: 0.5rem;
}

.btn-container{
    display: flex;
    /* background-color: red; */
    justify-content: center;
}

#generateTicket{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}