@import "header", "main","hwrequest";

*{
    margin: 0px;
    padding: 0px;
}


.center-items{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cards_container{
    margin-top: 100px;
}


#form-container{
    background-color: $header-color;
    border-radius: 12px;
    box-shadow: 2px 3px 11px 0px rgba(0,0,0,0.85);

    #login-form{
        display: flex;
        flex-direction: column;
    }
    
    input{
        justify-self: center;
    }
    
    #login-submit{
        margin: 10px 0px;
        align-self: center;
        justify-self: center;
    }
    
    h5{
        color: white;
        margin: 10px 0px;
    }

    #alert-box{
        h5{
            color:red;
            text-shadow: 3px 1px 5px rgba(28,110,164,0.67);
        }
    }
}



.msj_alerta{
    margin: 5px 0 ;
    color: red;
}

.form-alert{
    color: red;
    margin: 0px;
    padding: 0px;
}

.none{
    display: none;
}

.form-error{
    color:red;
    background-color: orange;
}

