@import "header", "main","hwrequest","footer","tickets","modal", "shop";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$color1:#8ba6bc;
$color2: rgb(255, 64, 109);

//Reset CSS + Font styles
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
 }


 body{
    min-height: 100vh;
 }


/* .center-items{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* #cards_container{
    margin-top: 100px;
} */

.hide{
    display: none;
}


/* .color2{
    color: $color2 !important;
} */

.bg-image-1{
    /* background-image: url(https://www.pngmart.com/files/22/White-Background-PNG-Photos.png); */
    background-repeat: repeat;
    background-image: url("../imgs/background-main.png");
}

#form-container{
    border-radius: 12px;
    background-color: #da7b08;
    /* box-shadow: 2px 3px 11px 0px rgba(0,0,0,0.85); */
    padding: 15px;
    height: fit-content;
    margin-top: 3rem ;

    input{
        padding: 0.2rem;
        border-radius: 0.2rem;
    }

    #login-form{
        display: flex;
        flex-direction: column;
    }
    
    #login-submit{
        margin: 10px 0px;
        align-self: center;
        justify-self: center;
        background-color: whitesmoke;
        color: black;
        border-color: $color1;
        border-width: 2px;
    }
    
    h5{
        color: black;
        margin: 10px 0px;
    }

    #alert-box{
        h5{
            color: black;
            text-decoration: underline rgb(216, 50, 50);
        }
    }
}


