@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
  height: 7vh; }

.header__h1 {
  text-decoration: none;
  color: inherit; }
  .header__h1 :hover {
    color: rgba(255, 166, 0, 0.616); }

.header__icon img {
  height: 40px; }

/* 
 */
.bg-color {
  /* background-color: rgb(191, 215, 234); */
  background-color: #b6ffff; }

.main {
  height: 86vh; }

.main-bgImage {
  background-image: url(https://www.pngmart.com/files/22/White-Background-PNG-Photos.png); }

.blur {
  backdrop-filter: blur(8px); }

.section-card {
  border-radius: 12px;
  background-color: black;
  box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.85);
  padding: 15px;
  margin: 10px; }
  .section-card h5 {
    color: black;
    background-color: #b6ffff;
    border-radius: 5px;
    padding: 5px; }
  .section-card p {
    color: whitesmoke; }

.cardsContainer-center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.cards__container {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.card__container-card {
  background-color: #ffa600;
  box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.85);
  border-radius: 12px;
  margin: 1rem; }
  .card__container-card a {
    text-decoration: none;
    color: black;
    display: inline; }
    .card__container-card a :hover {
      color: black; }

.card-body {
  padding: 1rem !important; }

.card-img-top {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  height: 50%;
  background-color: lightgrey; }

.card-text {
  text-align: center;
  text-decoration: underline; }

.contenedor {
  margin-top: 50px;
  width: 100%;
  text-align: center; }

.box {
  width: 200px;
  height: 300px;
  display: inline-block; }

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform; }

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

#hwrequest {
  background-color: red; }

#cards-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.content-box {
  margin: 20px 20px; }

.category-buttons {
  margin: 15px; }

.card-img-top {
  width: 230px; }

.card {
  margin: 20px;
  width: 250px; }

.grid-items-cart {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 0.3fr auto;
  gap: 0px 0px;
  grid-template-areas: "btns btns" "items cart"; }
  .grid-items-cart .btns {
    grid-area: btns; }
  .grid-items-cart .items {
    grid-area: items; }
  .grid-items-cart .cart {
    grid-area: cart;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: #b6ffff; }
  .grid-items-cart .btn {
    background-color: black !important;
    color: #ff406d; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 7vh; }

.footer__text {
  margin-right: 20px; }

.footer__list {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px; }

.footer__list-item {
  margin: 0.5rem; }

.footer__list-icon svg {
  height: 30px; }

.main__button {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 0.5rem; }

.btn-container {
  display: flex;
  /* background-color: red; */
  justify-content: center; }

#generateTicket {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
  font-size: large;
  box-sizing: border-box; }

body {
  min-height: 100vh; }

/* .center-items{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* #cards_container{
    margin-top: 100px;
} */
.hide {
  display: none; }

/* .color2{
    color: $color2 !important;
} */
.bg-image-1 {
  background-image: url(https://www.pngmart.com/files/22/White-Background-PNG-Photos.png); }

#form-container {
  border-radius: 12px;
  background-color: #ffa600;
  box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.85);
  padding: 15px;
  height: fit-content;
  margin-top: 3rem; }
  #form-container input {
    padding: 0.2rem;
    border-radius: 0.2rem; }
  #form-container #login-form {
    display: flex;
    flex-direction: column; }
  #form-container #login-submit {
    margin: 10px 0px;
    align-self: center;
    justify-self: center;
    background-color: whitesmoke;
    color: black;
    border-color: #b6ffff;
    border-width: 2px; }
  #form-container h5 {
    color: black;
    margin: 10px 0px; }
  #form-container #alert-box h5 {
    color: black;
    text-decoration: underline #d83232; }
